#wrapper {
  display: flex;
  max-height: 60px;
  min-height: 60px;
  text-align: center;
}

.main-icon {
  width: 125px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}

.main-icon:hover {
  background-color: #595959;
  cursor: pointer;
}

#home {
  width: 125px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
  color: #4287f5;
  border-bottom: 4px solid #4287f5;
  cursor: pointer;
}

.home-icon{
  font-size: 10px;
}

@media only screen and (max-width: 1024px){
  .main-icon{
    width: 50px;
  }

  #home{
    width: 50px;
  }
}

@media only screen and (max-width: 425px){
  #home{
    display: none;
  }
  .main-icon{
    display: none;
  }
}
